<!DOCTYPE html>
<html lang="en">
<head>
    <% for (let i = 0; i < cssPaths.length; i++) { %>
        <link rel="stylesheet" type="text/css" href="<%= cssPaths[i] %>">
      <% } %>
      <script src="https://kit.fontawesome.com/433c5e385c.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="#">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Colores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
    

</head>
<style>
    .Create
    {
    background-color: #4a4a4a;
    margin-left: 45%;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    
    }
    
    </style>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="/index" class="back-button">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
        </div>
        <div class="navbar-center">
            <strong >
                Catalogo Colores
            </strong>
        </div>
        <div class="navbar-right">
            <a href="/login" class="logout-button">
                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
            </a>
        </div>
    </nav>
    <div class="container-fluid">
        <button id="btnCrear" class="btn btn-dark mt-2 Create"> <i class="fa-solid fa-circle-plus fa-bounce fa-2xl"></i> </button>
        <div class="row shadow-lg p-3 mb-5">
            <div class="col">
                <table id="Tabla" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Color</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal for CRUD operations -->
    <div id="modalCRUD" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                </div>
                <form id="form">
                    <div class="modal-body">
                        <input id="id" hidden>
                        <label for="nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre">
                        <label for="descripcion" class="col-form-label">Descripcion</label>
                        <input id="descripcion" type="text" class="form-control">
                        <label for="estado" class="col-form-label">Estado</label>
                        <input id="estado" type="text" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer-distributed">
        <div class="footer-left">
          <h3>Mafy<span style="font-style: italic;">Store</span></h3>
          <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Contact</a>
            |
            <a href="#">Blog</a>
          </p>
          <p class="footer-company-name">Copyright © 2023 <strong>Mafy Store</strong> All rights reserved</p>
        </div>
        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>San Marcos</span> Carazo</p>
          </div>
          <div>
            <i class="fa fa-phone"></i>
            <p>+505 8888-8888</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:mafystore@gmail.com">mafystore@gmail.com</a></p>
          </div>
        </div>
        <div class="footer-right">
          <p class="footer-company-about">
            <span>Acerca de Nosotros</span>
            <strong>Mafy Store</strong> es una tienda en línea que ofrece una variedad de productos de moda y estilo.
          </p>
          <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
            let url = 'http://localhost:3000/categorias/';
            let opcion = null;
            let codigo, nombre, descripcion, estado, fila;

            let tablaArticulos = $('#Tabla').DataTable({
                "ajax": {
                    "url": url,
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "codigo" },
                    { "data": "nombre" },
                    { "data": "descripcion" },
                    { "data": "estado" },
                    {
                        "defaultContent": "<div class='text-center'><div class='btn-group'><button class='btn btn-info btn-sm btnEditar'>Editar</button><button class='btn btn-danger btn-sm btnBorrar'>Borrar</button></div></div>"
                    }
                ]
            });

            $("#btnCrear").click(function() {
                opcion = 'crear';
                id = null;
                $("#form").trigger("reset");
                $(".modal-header").css("background-color", "#23272b");
                $(".modal-header").css("color", "white");
                $(".modal-title").text("Crear Artículo");
                $('#modalCRUD').modal('show');
            });

            $(document).on("click", ".btnEditar", function() {
                opcion = 'editar';
                fila = $(this).closest("tr");
                codigo = parseInt(fila.find('td:eq(0)').text());
                nombre = fila.find('td:eq(1)').text();
                descripcion = fila.find('td:eq(2)').text();
                estado = fila.find('td:eq(3)').text();
                $("#id").val(codigo);
                $("#nombre").val(nombre);
                $("#descripcion").val(descripcion);
                $("#estado").val(estado);
                $(".modal-header").css("background-color", "#7303c0");
                $(".modal-header").css("color", "white");
                $(".modal-title").text("Editar Artículo");
                $('#modalCRUD').modal('show');
            });

            $(document).on("click", ".btnBorrar", function() {
                fila = $(this);
                codigo = parseInt($(this).closest('tr').find('td:eq(0)').text());
                Swal.fire({
                    title: '¿Confirma eliminar el registro?',
                    showCancelButton: true,
                    confirmButtonText: `Confirmar`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: url + codigo,
                            method: 'DELETE',
                            success: function() {
                                tablaArticulos.row(fila.parents('tr')).remove().draw();
                            },
                            error: function() {
                                console.error("Error deleting color.");
                            }
                        });
                        Swal.fire('¡Registro Eliminado!', '', 'success');
                    }
                });
            });

            $('#form').submit(function(e) {
                e.preventDefault();
                nombre = $.trim($('#nombre').val());
                descripcion = $.trim($('#descripcion').val());
                estado = $.trim($('#estado').val());

                if (opcion == 'crear') {
                    $.post(url, { nombre, descripcion, estado })
                    .done(function(data) {
                        tablaArticulos.ajax.reload(null, false);
                        $('#modalCRUD').modal('hide');
                    })
                    .fail(function() {
                        console.error("Error creating color.");
                    });
                }
                
                if (opcion == 'editar') {
                    codigo = $.trim($('#id').val());
                    $.ajax({
                        url: url + codigo,
                        method: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify({ codigo, nombre, descripcion, estado }),
                        success: function(data) {
                            tablaArticulos.ajax.reload(null, false);
                            $('#modalCRUD').modal('hide');
                        },
                        error: function() {
                            console.error("Error updating color.");
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
