<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <% for (let i = 0; i < cssPaths.length; i++) { %>
        <link rel="stylesheet" type="text/css" href="<%= cssPaths[i] %>">
      <% } %>
</head>
<body>
    <div class="cont">
        <div class="cont_form">
            <img src="<%= imagePath %>" alt="Logo">
            <form id="loginForm" action="/login" method="post">
                <input type="text" name="correo" placeholder="Correo electrónico">
                <input type="password" name="contraseña" placeholder="Contraseña">
                <input type="submit" class="btn btn-success" value="Iniciar Sesion">
            </form> 
        </div>
    </div>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Evita que el formulario se envíe automáticamente
    
            // Obtener los valores del formulario
            const correo = document.querySelector('[name="correo"]').value;
            const contraseña = document.querySelector('[name="contraseña"]').value;
    
            // Verificar si los campos están vacíos
            if (correo.trim() === '' || contraseña.trim() === '') {
                alert('Por favor, completa todos los campos.'); // Muestra una alerta de advertencia
                return; // Detiene la ejecución del script si los campos están vacíos
            }
    
            // Crear un objeto con los datos
            const data = {
                correo: correo,
                contraseña: contraseña
            };
    
            // Enviar una solicitud POST al controlador
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (response.ok) {
                    // Redirigir a la página principal u otra página de éxito
                    window.location.href = '/index'; // Cambia esto según tu estructura de rutas
                } else {
                    // Manejar errores de inicio de sesión aquí
                    alert('Usuario o contraseña incorrectos.'); // Muestra una alerta si la autenticación falla
                    console.error('Error en el inicio de sesión');
                }
            })
            .catch(error => {
                console.error('Error en la solicitud:', error);
            });
        });
    </script>
    
    

</body>
</html>